PORT=3333
NODE_ENV=production
FRONTEND_URL=https://seudominio.com

DB_HOST=HOST_DO_MYSQL
DB_PORT=3306
DB_USER=USUARIO_DO_MYSQL
DB_PASSWORD=SENHA_DO_MYSQL
DB_NAME=NOME_DO_BANCO

JWT_SECRET=TROQUE_POR_UMA_CHAVE_GRANDE_E_FORTE
JWT_EXPIRES_IN=7d
